:root{
  --brandcolor: #00b4fb;
  --light-color: #fff;
  --dark-color: #000;
  --grey-color: #f2f2f2;
  --transition: all 300ms ease-in-out;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DotGothic16",sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh ;
  background-size: cover;
  background-position: center;
}
.wrapper{
  width: 420px;
  background: #00b4fb;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  color: #fff;
  padding: 30px 40px;
  position: relative;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper .inBox{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inBox input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.inBox input::placeholder{
  color: #fff;
}

.inBox i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .btn {
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: .5rem 1rem;    
  margin: 0 auto 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: var(--grey-color);
  color: var(--dark-color);
  letter-spacing: 2px;
  transition: var(--transition);
  box-shadow: 0 4px 0 0 #bbbbbb;
}
.btn button:hover{
  background-color: #e6e6e6;
  box-shadow: 0 4px 0 0 #a7a7a7;
}
.btn button:active{
  transform: scale(0.95);
}
